<?xml version="1.0" encoding="utf-8"?>
<resources>
    <string name="app_name">Live Commerce</string>
    <string name="facebook_app_id">YOUR_FACEBOOK_APP_ID</string>
    <string name="facebook_client_token">YOUR_FACEBOOK_CLIENT_TOKEN</string>
    <string name="google_client_id">852200937424-fg40dsf8dbescmce4k1icv4f3no5qhb0.apps.googleusercontent.com</string>
</resources>
