// Production Environment - Social Authentication Configuration
LINE_CHANNEL_ID = YOUR_PROD_LINE_CHANNEL_ID
FACEBOOK_APP_ID = YOUR_PROD_FACEBOOK_APP_ID
FACEBOOK_CLIENT_TOKEN = YOUR_PROD_FACEBOOK_CLIENT_TOKEN
GOOGLE_CLIENT_ID = YOUR_PROD_GOOGLE_CLIENT_ID
GOOGLE_REVERSED_CLIENT_ID = YOUR_PROD_GOOGLE_REVERSED_CLIENT_ID
